<p><b>Mitglied: </b> 
    {{entry.mitglied_id}} 
    (aktuell {{latestMitglied.vorname}} {{latestMitglied.name}}, 
    damals {{historicalMitglied.vorname}} {{historicalMitglied.name}})</p>
<p><b>Amt: </b> 
    {{entry.amt_id}}
    (aktuell {{latestAmt.bezeichnung}} 
        {% if latestUnterbereich %}{{latestUnterbereich.bezeichnung}} {% endif %}
        {{latestReferat.bezeichnung}}{% if historicalAmt %}, damals 
        {{historicalAmt.bezeichnung}} 
        {% if historicalUnterbereich %}{{historicalUnterbereich.bezeichnung}} {% endif %}
        {{historicalReferat.bezeichnung}}
    {% endif %})</p>
