{% extends 'base.html' %}

{% load t_checklisten.get_tasks %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Checklisten</h3>
  </div>
  {% for entry in checklisten %}
  <div class="col l4 m6 s12">
    <div class="card medium grey lighten-2">
      <div class="card-content">
        <span class="card-title truncate">{{entry.mitglied.vorname}} {{entry.mitglied.name}}</span>
        {% if entry.amt %}<p>{{entry.amt.funktion.tostring}}</p>{% endif %}
        <br />
        <form method="POST">
          {% for task in entry.id|get_tasks %}
            <p class="truncate">
              <label>
                <input type="checkbox" class="filled-in checkbox-amber" {% if not request.user.is_superuser %} disabled="disabled" {% endif %} onclick="abhaken({{task.id}});" {% if task.abgehakt %} checked="checked" {% endif %} />
                <span class="black-text">{{task.aufgabe.bezeichnung}}</span>
              </label>
            </p>
          {% endfor %}
        </form>
      </div>
      {% if request.user.is_superuser %}
      <div class="card-action">
        <a href="#" class="black-text"><i class="material-icons">delete</i></a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% if request.user.is_superuser %}
  <div class="col l4 m6 s12">
    <a href="#">
      <div class="card medium grey lighten-2 valign-wrapper">
        <div class="card-content" style="width: 100%">
            <i class="material-icons large black-text center" style="width: 100%">add</i>
          </div>
      </div>
    </a>
  </div>
  {% endif %}
</div>

<script>
  function abhaken(task_id) {
    $.ajax({
      type: 'POST',
      url: '/checklisten/abhaken',
      data: {
        task_id: task_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      }
    });
  }
</script>
{% endblock %}
