{% load to_class_name %}

{% if entry|to_class_name == "HistoricalMitglied" %}
Mitglied {{entry.id}} ({{entry.vorname}} {{entry.name}})
{% endif %}
{% if entry|to_class_name == "HistoricalMitgliedMail" %}
E-Mail-Adresse zu Mitglied {{entry.mitglied_id}} ({{latestMitglied.vorname}} {{latestMitglied.name}})
{% endif %}
{% if entry|to_class_name == "HistoricalMitgliedAmt" %}
Zuordnung von Amt {{entry.amt_id}} ({{latestAmt.bezeichnung}}
{% if latestUnterbereich.bezeichnung %}{{latestUnterbereich.bezeichnung}} {% endif %}
{{latestReferat.bezeichnung}})
zu Mitglied {{entry.mitglied_id}} ({{latestMitglied.vorname}} {{latestMitglied.name}})
{% endif %}

{% if entry|to_class_name == "HistoricalOrganisationseinheit" %}
Organisationseinheit {{entry.id}} ({{entry.bezeichnung}})
{% endif %}
{% if entry|to_class_name == "HistoricalUnterbereich" %}
Unterbereich {{entry.id}} ({{entry.bezeichnung}}) zu Organisationseinheit {{entry.referat_id}} ({{latestReferat.bezeichnung}})
{% endif %}
{% if entry|to_class_name == "HistoricalFunktion" %}
Amt {{entry.id}} ({{entry.bezeichnung}}) in Organisationseinheit
{{entry.referat_id}} ({{latestReferat.bezeichnung}}){% if entry.unterbereich_id %}, Unterbereich
{{entry.unterbereich_id}} ({{latestUnterbereich.bezeichnung}}){% endif %}
{% endif %}
{% if entry|to_class_name == "HistoricalRecht" %}
Recht {{entry.id}} ({{entry.bezeichnung}})
{% endif %}
{% if entry|to_class_name == "HistoricalFunktionRecht" %}
Recht {{entry.recht_id}} ({{latestRecht.bezeichnung}}) zu Amt {{entry.amt_id}} ({{latestAmt.bezeichnung}}
{% if latestUnterbereich %}{{latestUnterbereich.bezeichnung}} {% endif %}{{latestReferat.bezeichnung}})
{% endif %}

{% if entry|to_class_name == "HistoricalUser" %}
Nutzer {{entry.id}} ({{entry.username}})
{% endif %}

{% if entry.history_type == "+" %}hinzugefügt{% endif %}
{% if entry.history_type == "~" %}geändert{% endif %}
{% if entry.history_type == "-" %}gelöscht{% endif %}
