{% load to_class_name %}

{% if entry|to_class_name == "HistoricalMitglied" %}
Mitglied {{entry.id}} ({{entry.vorname}} {{entry.name}})
{% endif %}
{% if entry|to_class_name == "HistoricalMitgliedMail" %}
E-Mail-Adresse zu Mitglied {{entry.mitglied_id}}
{% endif %}
{% if entry|to_class_name == "HistoricalMitgliedAmt" %}
Zuordnung von Amt {{entry.amt_id}} zu Mitglied {{entry.mitglied_id}}
{% endif %}

{% if entry|to_class_name == "HistoricalReferat" %}
Referat {{entry.id}} ({{entry.bezeichnung}})
{% endif %}
{% if entry|to_class_name == "HistoricalUnterbereich" %}
Unterbereich {{entry.id}} ({{entry.bezeichnung}}) zu Referat {{entry.referat_id}}
{% endif %}
{% if entry|to_class_name == "HistoricalAmt" %}
Amt {{entry.id}} ({{entry.bezeichnung}}) in Referat
{{entry.referat_id}}{% if entry.unterbereich_id %}, Unterbereich {{entry.unterbereich_id}}{% endif %}
{% endif %}
{% if entry|to_class_name == "HistoricalRecht" %}
Recht {{entry.id}} ({{entry.bezeichnung}})
{% endif %}
{% if entry|to_class_name == "HistoricalAmtRecht" %}
Recht {{entry.recht_id}} zu Amt {{entry.amt_id}}
{% endif %}

{% if entry|to_class_name == "HistoricalUser" %}
Nutzer {{entry.id}} ({{entry.username}})
{% endif %}

{% if entry.history_type == "+" %}hinzugefügt{% endif %}
{% if entry.history_type == "~" %}geändert{% endif %}
{% if entry.history_type == "-" %}gelöscht{% endif %}
