{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Historie</h3>
    <ul class="tabs">
      <li class="tab col s4"><a class="active" href="#mitgliederTab">Mitglieder</a></li>
      <li class="tab col s4"><a href="#aemterTab">Ämter</a></li>
      <li class="tab col s4"><a href="#nutzerTab">Systemnutzer</a></li>
    </ul>
  </div>
  {% include 'historie/tabs/mitgliederTab.html' %}
  {% include 'historie/tabs/aemterTab.html' %}
  {% include 'historie/tabs/nutzerTab.html' %}
</div>

<!-- Initialize tabs and modals -->
<script>
  var el = document.querySelectorAll('.tabs');
  var options;
  var instance = M.Tabs.init(el, options);

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var options;
    var instances = M.Modal.init(elems, options);
  });
</script>

{% endblock %}
