{% load to_class_name %}

{% load get_associated_data	%}

{% if entry|to_class_name == "HistoricalMitgliedMail" or entry|to_class_name == "HistoricalMitgliedAmt" %}
    {% get_associated_data "Mitglied" "latest" entry.mitglied_id None as latestMitglied %}
    {% get_associated_data "Mitglied" "historical" entry.mitglied_id entry.history_date as historicalMitglied %}
{% endif %}

{% if entry|to_class_name == "HistoricalMitgliedAmt" %}
    {% get_associated_data "Amt" "latest" entry.amt_id None as latestAmt %}
    {% get_associated_data "Amt" "historical" entry.amt_id entry.history_date as historicalAmt %}
    
    {% get_associated_data "Unterbereich" "latest" latestAmt.unterbereich_id None as latestUnterbereich %}
    {% get_associated_data "Unterbereich" "historical" historicalAmt.unterbereich_id entry.history_date as historicalUnterbereich %}
    
    {% get_associated_data "Referat" "latest" latestAmt.referat_id None as latestReferat %}
    {% get_associated_data "Referat" "historical" historicalAmt.referat_id entry.history_date as historicalReferat %}
{% endif %}

{% if entry|to_class_name == "HistoricalUnterbereich" %}

{% endif %}

{% if entry|to_class_name == "HistoricalAmt" %}

{% endif %}

{% if entry|to_class_name == "HistoricalAmtRecht" %}

{% endif %}

{% include 'historie/rowContent.html' %}
