{% load t_historie.to_class_name %}
{% load t_historie.get_associated_data	%}

<p>
    <ul class="collection">
        {% for entry in data %}
            {% if entry|to_class_name == "HistoricalMitgliedMail" or entry|to_class_name == "HistoricalMitgliedAmt" %}
                {% get_associated_data "Mitglied" "latest" entry.mitglied_id None as latestMitglied %}
                {% get_associated_data "Mitglied" "historical" entry.mitglied_id entry.history_date as historicalMitglied %}

                {% if entry.history_type == "~" %}
                    {% get_associated_data "Mitglied" "latest" entry.prev_record.mitglied_id None as latestMitgliedAlt %}
                    {% get_associated_data "Mitglied" "historical" entry.prev_record.mitglied_id entry.history_date as historicalMitgliedAlt %}
                {% endif %}
            {% endif %}

            {% if entry|to_class_name == "HistoricalMitgliedAmt" or entry|to_class_name == "HistoricalFunktionRecht" %}
                {% get_associated_data "Funktion" "latest" entry.funktion_id None as latestAmt %}
                {% get_associated_data "Funktion" "historical" entry.funktion_id entry.history_date as historicalAmt %}

                {% if entry.history_type == "~" %}
                    {% get_associated_data "Funktion" "latest" entry.prev_record.funktion_id None as latestAmtAlt %}
                    {% get_associated_data "Funktion" "historical" entry.prev_record.funktion_id entry.history_date as historicalAmtAlt %}
                {% endif %}
            {% endif %}

            {% if entry|to_class_name == "HistoricalMitgliedAmt" or entry|to_class_name == "HistoricalFunktionRecht" %}
                {% get_associated_data "Organisationseinheit" "latest" latestAmt.organisationseinheit_id None as latestReferat %}
                {% get_associated_data "Organisationseinheit" "historical" historicalAmt.organisationseinheit_id entry.history_date as historicalReferat %}

                {% if entry.history_type == "~" %}
                    {% get_associated_data "Organisationseinheit" "latest" latestAmtAlt.organisationseinheit_id None as latestReferatAlt %}
                    {% get_associated_data "Organisationseinheit" "historical" historicalAmtAlt.organisationseinheit_id entry.history_date as historicalReferatAlt %}
                {% endif %}
            {% endif %}

            {% if entry|to_class_name == "HistoricalMitgliedAmt" or entry|to_class_name == "HistoricalFunktionRecht" %}
                {% get_associated_data "Unterbereich" "latest" latestAmt.unterbereich_id None as latestUnterbereich %}
                {% get_associated_data "Unterbereich" "historical" historicalAmt.unterbereich_id entry.history_date as historicalUnterbereich %}

                {% if entry.history_type == "~" %}
                    {% get_associated_data "Unterbereich" "latest" latestAmtAlt.unterbereich_id None as latestUnterbereichAlt %}
                    {% get_associated_data "Unterbereich" "historical" historicalAmtAlt.unterbereich_id entry.history_date as historicalUnterbereichAlt %}
                {% endif %}
            {% endif %}

            {% if entry|to_class_name == "HistoricalFunktion" or entry|to_class_name == "HistoricalUnterbereich" %}
                {% get_associated_data "Organisationseinheit" "latest" entry.organisationseinheit_id None as latestReferat %}
                {% get_associated_data "Organisationseinheit" "historical" entry.organisationseinheit_id entry.history_date as historicalReferat %}

                {% if entry.history_type == "~" %}
                    {% get_associated_data "Organisationseinheit" "latest" entry.prev_record.organisationseinheit_id None as latestReferatAlt %}
                    {% get_associated_data "Organisationseinheit" "historical" entry.prev_record.organisationseinheit_id entry.history_date as historicalReferatAlt %}
                {% endif %}
            {% endif %}

            {% if entry|to_class_name == "HistoricalFunktion" %}
                {% get_associated_data "Unterbereich" "latest" entry.unterbereich_id None as latestUnterbereich %}
                {% get_associated_data "Unterbereich" "historical" entry.unterbereich_id entry.history_date as historicalUnterbereich %}

                {% if entry.history_type == "~" %}
                    {% get_associated_data "Unterbereich" "latest" entry.prev_record.unterbereich_id None as latestUnterbereichAlt %}
                    {% get_associated_data "Unterbereich" "historical" entry.prev_record.unterbereich_id entry.history_date as historicalUnterbereichAlt %}
                {% endif %}
            {% endif %}

            {% if entry|to_class_name == "HistoricalFunktionRecht" %}
                {% get_associated_data "Recht" "latest" entry.recht_id None as latestRecht %}
                {% get_associated_data "Recht" "historical" entry.recht_id entry.history_date as historicalRecht %}

                {% if entry.history_type == "~" %}
                    {% get_associated_data "Recht" "latest" entry.prev_record.recht_id None as latestRechtAlt %}
                    {% get_associated_data "Recht" "historical" entry.prev_record.recht_id entry.history_date as historicalRechtAlt %}
                {% endif %}
            {% endif %}

            {% include 'historie/rowContent.html' %}

        {% empty %}
            {% include 'historie/_noResultsRow.html' %}
        {% endfor %}
    </ul>
</p>

{% include 'historie/tabs/_pagination.html' %}
