<div class="row">
    <div class="input-field col s10 m8 l4">
      <select>
        <option value="{{amt.referat}}" disabled selected>Referat auswählen</option>
        {% for referat in referate_set %}
        <option value="{{forloop.counter}}">{{referat.name}}</option>
        {% endfor %}
      </select>
      <label>Referat</label>
    </div>
    <div class="input-field col s10 m8 l4">
      <select>
        <option disabled selected>Bereich auswählen</option>
        {% for bereich in bereiche_set %}
        <option value="{{forloop.counter}}">{{bereich.name}}</option>
        {% endfor %}
      </select>
      <label>Bereich</label>
    </div>
    
    

    <div class="col s2 hide-on-large-only" style="padding-top: 16px">
      <a class="waves-effect waves-light btn-floating amber"><i class="material-icons black-text">delete</i>Entfernen</a>
    </div>

    <div class="input-field col s10 m8 l3">
      <select>
        <option disabled selected>Amt auswählen</option>
        {% for amt in aemter_set %}
        <option class="black-text" value="{{forloop.counter}}">{{amt.name}}</option>
        {% endfor %}
      </select>
      <label>Amt</label>
    </div>
    

    <div class="col l1 hide-on-med-and-down" style="padding-top: 16px">
      <a class="waves-effect waves-light btn-floating amber"><i class="material-icons black-text">delete</i>Entfernen</a>
    </div>
    <div class="hide-on-med-and-down">
      <div class="input-field col l2">
        <input id="first_name" type="text" class="validate" {% if amt.beginn %}value="{{amt.beginn}}"{% endif %}>
          <label for="first_name">Beginn Kandidatur</label>
      </div>
      <div class="input-field col l2">
        <input id="first_name" type="text" class="validate" {% if amt.ende %}value="{{amt.ende}}"{% endif %}>
          <label for="first_name">Ende Kandidatur</label>
      </div>
    </div>
  </div>
  <div class="row hide-on-large-only">
    <div class="input-field col m4">
      <input id="first_name" type="text" class="validate" {% if amt.beginn %}value="{{amt.beginn}}"{% endif %}>
        <label for="first_name">Beginn Kandidatur</label>
    </div>
    <div class="input-field col m4">
      <input id="first_name" type="text" class="validate" {% if amt.ende %}value="{{amt.ende}}"{% endif %}>
        <label for="first_name">Ende Kandidatur</label>
    </div>
  </div>
  <!-- Button(s) -->
  <div class="row">
    <div class="col s12">
      {% if forloop.last or mitglied.aemter is None %}
      <a class="waves-effect waves-light btn amber black-text"><i class="material-icons left">add</i>Amt hinzufügen</a>
      {% endif %}
    </div>
  </div>
