<div class="input-field col s10 m8 l4">
    <select data-url="{% url 'mitglieder:aemter_laden' %}" name="selectbereich{{amtid}}" id="selectbereich{{amtid}}">
        <option disabled selected>Bereich auswählen</option>
        <option {% if not bereiche and not amt.unterbereich %}selected="selected"{% endif %}type="hidden" value="-1">Keiner</option>
        {% if bereiche %}
        {% for bereich in bereiche %}
        <option value="{{bereich.id}}">{{bereich.bezeichnung}}</option>
        {% endfor %}
        {% else %}
            {% for bereich in amt.referat.unterbereich_set.all %}
                <option {% if bereich.id == amt.unterbereich.id %}selected="selected"{% endif %} value="{{bereich.id}}">{{bereich.bezeichnung}}</option>
            {% endfor %}
        {% endif %}
    </select>
    <label>Bereich</label>
</div>