{% extends 'base.html' %}

{% block content %}
    <!-- Top Menu -->
    <div>
        <div class="row">
          <div class="col s12">
            <h3>Mitglieder</h3>
          </div>
          <div class="col s12">
              <!-- Serch Entry -->
              <div class="input-field inline" style="margin-top: 27px">
                  <input class="validate" type="text" id="search">
                  <label for="search">Suchen...</label>
              </div>

              <!-- Search Button -->
              <a class="btn-floating waves-effect waves-light amber">
                <i class="material-icons black-text">search</i>
              </a>
              {% if request.user.is_superuser %}
              <div class="right hide-on-med-and-down" style="margin-top: 29px">
                <a href="/mitglieder/erstellen" class="waves-effect waves-light btn amber black-text"><i class="material-icons left">add</i>Hinzufügen</a>
                <a id="delbtnl" data-url="{% url 'mitglieder:mitglieder_loeschen' %}" class="delmitglieder disabled waves-effect waves-light btn amber black-text"><i class="material-icons left">delete</i>Entfernen</a>
              </div>
              <div class="right hide-on-large-only" style="margin-top: 29px">
                <a href="/mitglieder/erstellen" class="btn-floating waves-effect waves-light amber"><i class="material-icons black-text">add</i></a>
                <a id="delbtns" data-url="{% url 'mitglieder:mitglieder_loeschen' %}" class="delmitglieder disabled btn-floating waves-effect waves-light amber"><i class="material-icons black-text">delete</i></a>
              </div>
              {% endif %}
          </div>
        </div>
    </div>

    <!-- Erstellen der Mitgliederliste -->
    <div>
      <div class="row">
        <div class="col s12">
          <table class="highlight">
            <thead>
              <tr>
                {% if request.user.is_superuser %}
                <th></th>
                {% endif %}
                <th>Name</th>
                <th>Ämter</th>
                <th class="hide-on-small-only">E-Mails</th>
                <th class="hide-on-med-and-down">Telefon</th>
                {% if request.user.is_superuser %}
                <th></th>
                {% endif %}
              </tr>
            </thead>

            <tbody>
              {% include 'mitglieder/row.html' %}
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <style>
        tr:hover {
            cursor:pointer;
        }
    </style>

    <script>
      var selectedcheckboxes_num = 0;

      $(document).ready(function(){
        $('input[type=checkbox').click(function(){
          if (this.checked){
            selectedcheckboxes_num++;
            if (selectedcheckboxes_num==1){
              $("#delbtnl").removeClass("disabled");
              $("#delbtns").removeClass("disabled");
            }
          } else{
            selectedcheckboxes_num--;
            if (selectedcheckboxes_num==0){
              $("#delbtnl").addClass("disabled");
              $("#delbtns").addClass("disabled");
            }
          }
        });

        // Mitglied(er) loeschen
        $('.delmitglieder').click(function(){
          var url = $("#"+this.id).attr('data-url');
          var mitgliederids = [];
          $('input[type=checkbox]').each(function () {
            if (this.checked){
              var mitgliedid = this.id.substr(4);
              $("#tr" + mitgliedid).remove();
              mitgliederids.push(mitgliedid); 
            }
          });
          $.ajax({
            type: 'POST',
            url: url,
            data: {
              mitglieder:JSON.stringify(mitgliederids),
              csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data){
              // Meldung, dass Mitglieder erfolgreich geloescht wurden
            }
          });
        });
      });
    </script>
{% endblock %}
