{% extends 'base.html' %}

{% block content %}

<form id="mitgliedForm" action="{% url 'mitglieder:erstellen' %}" method="post">
{% csrf_token %}
<div>
  <div class="row">
    <div  class="col s12">
      <h3>Mitglied {% if mitglied %}bearbeiten{% else %}erstellen{% endif %}</h3>
      <br />
    </div>

    <!-- Name & Vorname-->
    <div class="row">
      <div class="input-field col s12 m4 l3">
        <input name="vorname" type="text" class="validate" {% if mitglied %}value="{{mitglied.vorname}}"{% endif %}>
          <label for="vorname">Vorname</label>
      </div>
      <div class="input-field col s12 m4 l3">
        <input name="nachname" type="text" class="validate" {% if mitglied %}value="{{mitglied.name}}"{% endif %}>
        <label for="nachname">Nachname</label>
      </div>
      <div class="input-field col s12 m4 l3">
        <input name="spitzname" type="text" class="validate" {% if mitglied.spitzname %}value="{{mitglied.spitzname}}"{% endif %}>
        <label for="spitzname">Nickname</label>
      </div>
    </div>

    <!--Aemter-->
    <div class="row">
      <div class="col s12">
        <h5>Ämter</h5>
        <br />
        <div id="div_aemter">
        {% if mitglied.mitgliedamt_set.all %}
          {% for mitgliedamt in mitglied.mitgliedamt_set.all %}
          {% with mitgliedamt.amt as amt %}
            {% include 'mitglieder/aemter.html' %}
          {% endwith %}
          {% endfor %}
        {% else %}
          {% include 'mitglieder/aemter.html' %}
        {% endif %}
      </div>
        <!-- Button (weiteres Amt hinzufuegen) -->
          <div class="col s12">
            <a id="addAmt" data-url="{% url 'mitglieder:aemter_html_laden' %}" class="waves-effect waves-light btn amber black-text"><i class="material-icons left">add</i>Amt hinzufügen</a>
          </div>
      </div>
    </div>

    <!--E-Mails-->
    <div class="row">
      <div class="col s12">
        <h5>E-Mail-Adressen</h5>
        <br />
        <div id="div_emails">
        {% if mitglied %}
          {% for email in mitglied.mitgliedmail_set.all %}
            {% include 'mitglieder/email.html' %}
          {% endfor %}
        {% else %}
          {% include 'mitglieder/email.html' %}
        {% endif %}
      </div>
        <!-- Button - E-Mail hinzufuegen -->
        <div class="row">
          <div class="col s12">
            {% if forloop.last or mitglied.emails is None %}
              <a id="addEmailBtn" data-url="{% url 'mitglieder:email_html_laden' %}" class="waves-effect waves-light btn amber black-text"><i class="material-icons left">add</i>E-Mail hinzufügen</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Adresse -->
    <div class="row">
      <div class="col s12">
        <h5>Anschrift und Kontaktdaten</h5>
        <br />
      </div>
      <div class="input-field col s9 m5 l4">
        <input name="strasse" type="text" class="validate" {% if mitglied.strasse %}value="{{mitglied.strasse}}"{% endif %}>
        <label for="strasse">Straße</label>
      </div>
      <div class="input-field col s3 m3 l2">
        <input name="hausnr" type="text" class="validate" {% if mitglied.hausnr %}value="{{mitglied.hausnr}}"{% endif %}>
        <label for="hausnr">Hausnr.</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 m3 l2">
        <input name="plz" type="text" class="validate" {% if mitglied.plz %}value="{{mitglied.plz}}"{% endif %}>
        <label for="plz">Postleitzahl</label>
      </div>
      <div class="input-field col s8 m5 l4">
        <input name="ort" type="text" class="validate" {% if mitglied.ort %}value="{{mitglied.ort}}"{% endif %}>
        <label for="ort">Ort</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m8 l6">
        <input name="telefon_mobil" type="text" class="validate" {% if mitglied.tel_mobil %}value="{{mitglied.tel_mobil}}"{% endif %}>
        <label for="telefon_mobil">Telefon (mobil)</label>
      </div>
    </div>
    <!-- Buttons: Hinzufuegen, Abbrechen -->
    <div class="row">
        <div class="col s12">
          <a onclick="$('#mitgliedForm').submit();" class="space waves-effect waves-light btn-large amber black-text"><i class="material-icons left">save</i>Speichern</a>
          <a href="/mitglieder" class="waves-effect waves-light btn-large grey lighten-2 black-text">Abbrechen</a>
        </div>
    </div>
  </div>
</div>
</form>

<style>
  a.space{
    margin-right:20px;
  }
</style>

<script>
  var referat_bez;
  var amt_num = 1;
  var email_num = 1;
  $(document).ready(function(){
    // Selects initialisieren
    initSelect();
    addReferatEventListener();

    // Amt hinzufuegen
    $("#addAmt").click(function(){
      amt_num++;
      var url = $("#addAmt").attr("data-url");
      $.ajax({
        url: url,
        success: function(data){
          $("#div_aemter").append(data);
          initSelect();
          addReferatEventListener();
          addRmAmtEventListener("amtdelbtns" + amt_num);
          addRmAmtEventListener("amtdelbtnl" + amt_num);
        }
      });
    });

    // Amt loeschen 
    addRmAmtEventListener("amtdelbtns1");
    addRmAmtEventListener("amtdelbtnl1");

    // E-Mail hinzufuegen
    $("#addEmailBtn").click(function(){
      var url = $("#addEmailBtn").attr("data-url");
      $.ajax({
        url: url,
        success: function(data){
          $("#div_emails").append(data);
          email_num++;
          addRmEmailEventListener("emaildelbtn" + email_num);
        }
      });
    });

    // E-Mail loeschen
    addRmEmailEventListener("emaildelbtn1");
    

    // Triggern eines change Events, falls nach erneutem Laden noch
    // Referat ausgewaehlt ist, um Bereiche anzuzeigen
    if ($('#selectreferat').val()){
      $('#selectreferat').trigger("change");
      
    }
  });

  function addReferatEventListener(){
    // Event Listener fuer Veraenderung des Referat Selects
    $('select[name^=selectreferat]').change(function(event){
        referat_id = $(this).val();
        var url = $('#' + event.target.id).attr("data-url");
        var num = event.target.id.substr(13);

        $.ajax({
            url: url,
            data: {
            referat: referat_id,
            amtnum: num,
            },
            success: function(data){
              $("#div_selectbereich" + num).html(data);
              $("#div_selectamt" + num).empty();
              initSelect();
              // Listener fuer Select Bereich (zeigt Select Amt an)
              $('select[name^=selectbereich]').change(function(event){
                  bereich_id = $(this).val();
                  var url = $("#" + event.target.id).attr("data-url");
                  var num = event.target.id.substr(13);
                  $.ajax({
                      url: url,
                      data: {
                      bereich: bereich_id,
                      referat: referat_id,
                      amtnum: num,
                      },
                      success: function(data){
                        $("#div_selectamt" + num).html(data);
                        initSelect();
                      }
                  });
                  return false;
              })
            }
        });
        return false;
    })
  }

  function addRmAmtEventListener(buttonid){
    // Amt loeschen Button
    $("#" + buttonid).click(function(){
      var url = $("#" + this.id).attr("data-url");
      amtid = this.id.substr(10);
      $("#amt" + amtid).remove();
      var ids = ["amt", "selectreferat", "div_selectbereich", "selectbereich", "selectamt", "div_selectamt", "amtdelbtns", "amtdelbtnl"];
      for (var i=parseInt(amtid)+1; i<=amt_num; i++){
        // Dekrementieren der ID-Nummer, die eine hoehere Nummer als das geloeschte Element haben
        ids.forEach(function(item){
          var oldid = item + i.toString();
          var newid = item + (i-1).toString();
          $('#' + oldid).attr("name", newid);
          $("#" + oldid).attr("id", newid);
        });
      }

      amt_num--;

      $.ajax({
          url: url,
      });
    });
    
  }

  function addRmEmailEventListener(buttonid){
    $("#" + buttonid).click(function(event){
      var url = $("#" + this.id).attr("data-url");
      emailid = this.id.substr(11);
      $("#div_email" + emailid).remove();
      var ids = ["div_email", "email", "emaildelbtn"];
      for (var i=parseInt(emailid)+1; i<=email_num; i++){
        ids.forEach(function(item){
          var oldid = item + i.toString();
          var newid = item + (i-1).toString();
          $('#' + oldid).attr("name", newid);
          $("#" + oldid).attr("id", newid);
        });
      }
      email_num--;

      $.ajax({
          url: url,
      });
    });
  }

  function initSelect(){
    var elems = document.querySelectorAll('select');
    var options;
    var instances = M.FormSelect.init(elems, options);
  }
</script>

{% endblock %}
