{% extends 'base.html' %}

{% block content %}
    <!-- Top Menu -->
    <div>
        <div class="row">
            <div class="col s12">
                <!-- Serch Entry -->
                <div class="input-field inline">
                    <input class="validate" type="text" id="search">
                    <label for="search">...</label>
                </div>

                <!-- Search Button -->
                <a class="waves-effect waves-light btn">Suche</a>
                
                <!-- left: 40%; -->
                <span style="padding-left: 33%; position: relative;">
                    <!-- Mitglied entfernen -->
                    <a class="waves-effect waves-light btn">entfernen</a>
                    
                    <!-- Mitglied Hinzufügen -->
                    <a class="waves-effect waves-light btn">hinzufügen</a>
                </span>
        
            </div>
        </div>
    </div>

    <!-- Erstellen der Mitgliederliste -->
    <div>
        <table class="highlight">
            <thead>
              <tr>
                  <th>Vorname</th>
                  <th>Nickname</th>
                  <th>Amt</th>
                  <th>Funktion</th>
                  <th>E-Mail</th>
                  <th>Telefonnummer</th>
                  <th>Website</th>
              </tr>
            </thead>
    
            <tbody>
                {% include 'mitglieder/row.html' %}          
            </tbody>
          </table>
    </div>

    
    <style>
        tr:hover {
            cursor:pointer;
        }
    </style>
{% endblock %}