{% extends 'base.html' %}

{% block content %}



<div class="row">
  <div class="col s12">
    <h3>Ämter</h3>
  </div>
  <div class="col s12">
    <ul class="collapsible">
      {% for referat in referate_set %}
      <li>
        <div class="collapsible-header grey lighten-2">{{referat.name}}</div>
        <div class="collapsible-body">
          <span>
            <table>
              <tbody>
                <tr>
                  <td witdth="100px">Referatsleitung</td><td><a href="/mitglieder">{{referat.leitung}}</a></td>
                </tr>
                <tr class="last-row">
                  <td>Stellvertretende Referatsleitung</td><td><a href="/mitglieder">{{referat.stellvertretung}}</a></td>
                </tr>
              </tbody>
            </table>
            <ul class="collapsible">
            {% for bereich in referat.bereiche_set %}
                <div class="collapsible-header  grey lighten-2">{{bereich.name}}</div>
                <div class="collapsible-body">
                  <table>
                    <thead></thead>
                    <tbody>
                      <tr>
                        <td>Bereichsleitung</td><td><a href="/mitglieder">{{bereich.leitung}}</a></td>
                      </tr>
                      <tr>
                        <td>Stellvertretende Bereichsleitung</td><td><a href="/mitglieder">{{bereich.stellvertretung}}</a></td>
                      </tr>
                      <tr class="last-row">
                        <td>Weitere Mitglieder</td>
                        <td>
                          {% for mitglied in bereich.weitere_mitglieder %}
                            <a href="/mitglieder">{{mitglied.name}}</a><br>
                          {% endfor %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>          
            {% endfor %}
            </ul>
          </span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<style>
  table{
    table-layout: fixed;
  }
  td{
    vertical-align: top;
  }

  tr.last-row{
    border-bottom: 0px;
  }
</style>

<script>
var coll = document.getElementsByClassName("collapsible-header");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
} 
</script>

{% endblock %}