{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col s8 offset-s1">
      {% for amt in aemter_set %}
        <!--class="collapsible body"-->
        <table class="bordered striped">
          <thead>
            <th colspan="2">{{amt.name}}</th>
          </thead>
          <tbody>
            <tr>
              <td>Leitung</td>
              <td><a href="/mitglieder">{{amt.leitung}}</a></td>
            </tr>
            <tr>
              <td>Stellvertretung</td>
              <td><a href="/mitglieder">{{amt.stellvertretung}}</a></td>
            </tr>
            <tr>
              <td>Mitglieder</td>
              <td>
                {% for mitglied in amt.mitglieder %}
                  <a href="/mitglieder">{{mitglied.name}}</a><br>
                {% endfor %}
              </td>
            </tr>
          </tbody>
        </table>
        <br>
      {% endfor %}
    </div>
  </div>
{% endblock %}
