<div id="aemterTab" class="col s12">
  <ul class="tabs secondary-tabs">
    <li class="tab col s2"><a class="active" href="#referateTab">Referate</a></li>
    <li class="tab col s3"><a href="#unterbereicheTab">Unterbereiche</a></li>
    <li class="tab col s2"><a href="#aemterTab2">Ämter</a></li>
    <li class="tab col s2"><a href="#rechteTab">Rechte</a></li>
    <li class="tab col s3"><a href="#aemterRechteTab">Ämter-Rechte</a></li>
  </ul>
  <div id="referateTab">
    <p>
      <ul class="collection">
        {% for entry in referate %}
        {% include 'historie/row.html' %}
        {% endfor %}
      </ul>
    </p>
  </div>
  <div id="unterbereicheTab">
    <p>
      <ul class="collection">
        {% for entry in unterbereiche %}
        {% include 'historie/row.html' %}
        {% endfor %}
      </ul>
    </p>
  </div>
  <div id="aemterTab2">
    <p>
      <ul class="collection">
        {% for entry in aemter %}
        {% include 'historie/row.html' %}
        {% endfor %}
      </ul>
    </p>
  </div>
  <div id="rechteTab">
    <p>
      <ul class="collection">
        {% for entry in rechte %}
        {% include 'historie/row.html' %}
        {% endfor %}
      </ul>
    </p>
  </div>
  <div id="aemterRechteTab">
    <p>
      <ul class="collection">
        {% for entry in aemterRechte %}
        {% include 'historie/row.html' %}
        {% endfor %}
      </ul>
    </p>
  </div>
</div>
